.rq3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.rq3__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff;
}

.rq3__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.rq3__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.rq3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.rq3__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .rq3__cta {
        flex-direction: column;
    }

    .rq3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .rq3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .rq3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .rq3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}

#get_started{
    color:purple;
    font-style: italic;
    font-size:25px;
    border:2px dotted white;
    padding: 15px;
    border-radius: 50px;
    background-color: #fff;
}